// add customs styles and general overrides here
// due to the cascading nature of css, if you try to override theme css variables in this file, those changes will not apply. Instead, 

@mixin card_style
    border-radius: 0.5rem
    background-color: var(--post-bg)
    padding: 1rem
    margin: 0 0 1rem 0
    h2
        margin: 0
        padding: 0
        border-bottom: dashed
        border-width: thin

@mixin def_border
    border-top: 2px dashed var(--haze)

.nav_header
    .nav
        margin: 5px 0
        color: var(--header_text_light)
        .color_choice
            background-color: var(--haze)
    .nav_brand
        padding: 0 1rem 0 0
        img
            max-width: 18rem
    .nav_close
        .icon
            fill: #8a603e

.sidebar_author_sec
    @include card_style
    // margin-top: 5%
    padding-bottom: 1rem
    a
        margin: 1rem 0 0 0
        display: flex
        justify-content: center
    h2
        border: 0
.osusume
    @include card_style

.saikin
    @include card_style

.categori
    @include card_style
    padding: 1.5rem

.sidebar_inner::before
    padding: 0

.to_top
    left: 84% !important
    bottom: 5%
    right: 16%

.post_content
    @include card_style
    h2
        border: 0
    .post_body
        @include def_border
.footer_inner
    display: flex
    justify-content: center

.search
    margin: 0 0 1rem 0
.search_results
    backdrop-filter: blur(10px)
    background-color: var(--header_text_light)
    border-radius: 8px
    padding: 4px 0 0 0
    .search_title
        background-color: var(--header_text_light)
        color: var(--block_bg)
    .search_result
        @include card_style
        padding: 1% !important
        background-color: var(--block_bg)
        margin: 0 4px 4px 4px

main
    .related
        margin-top: 2rem
        .related_ne_pr
            display: flex
            flex-direction: column
            border: 3px solid var(--haze)
            border-radius: 10px
            .related_prev
                border-bottom: 3px solid var(--haze)
                display: flex
                align-items: center
            .related_next
                display: flex
                justify-content: flex-end
                align-items: center
            .yazirusi1
                font-size: 1.6rem
                margin-left: 1rem
            .yazirusi2
                font-size: 1.6rem
                margin-right: 1rem

.post_item
    margin: 0 0 1rem 0
    padding: 0.5rem
    position: relative
    .card_button
        position: absolute
        z-index: 0
        top: 0
        left: 0
        width: 100%
        height: 100%
    .excerpt
        display: flex
        flex-direction: row-reverse;
        justify-content: left
        padding: 0
        .left_excerpt
            margin: auto 2%
            max-width: 25%
            .excerpt_thumbnail
                display: flex
                align-items: center
                            
        .excerpt_header
            position: relative
            padding: 0
            z-index: 1
        .excerpt_footer
            padding: 0
            .pale
                p
                    padding: 0 0 0.7rem 0

.posts
    margin-top: 0

.links
    @include def_border
    margin-top: 5%
    display: flex
    justify-content: center
    gap: 5px
    /* 画像のスタイル */
    position: relative // 絶対配置の基準にします
    .link-image
        width: 100%
        max-width: 50px
        max-height: 50px

.vertical_center_box
    display: flex
    align-items: center

// タブレット向けのスタイル
// パソコン向けのスタイルなどのメディアクエリで変わるものは全て_utiles.sass
