<div class="related">
{{ if isset .Params "series" }}
<!-- {{$related := where .Site.RegularPages ".Params.series" "eq" .Params.series }} なぜか機能しない-->
	<!-- <h2 class="post_related">Posts in this Series</h2> -->
	<!-- {{ range $related }}
		<li><a href="{{ .Permalink }}" class="nav-link" title="{{ .Title }}">{{ .Title }}</a></li>
	{{ end }} -->
	{{$currentTitle := .Params.Title}}
	{{$currentSeries := .Params.series}}
	<!-- next,prevを表示 -->
	<div class="related_ne_pr">
		{{$series_index := 0}}
		{{$stop_flag := ""}}
		{{$last_flag := true}}
		{{$prev := .}}
		{{ range .Site.RegularPages.Reverse }}
		{{ if eq .Params.series $currentSeries }}
			{{ if eq $stop_flag "true"}}
				<div class="related_next">
					<a href="{{ .Permalink }}" class="nav-link" title="{{ .Title }}">{{ .Title }}
					<span class="yazirusi1">next ≫</span></a>
				</div>
				{{$last_flag = false}}
				{{break}}
			{{ end }}
			{{ if eq .Title $currentTitle }}
				{{ if eq $series_index 0}}
					<div class="related_prev">
						<span class="yazirusi1">≪ prev</span>
						このページがシリーズの最初です
					</div>
					{{$stop_flag = "true"}}
				{{else}}
					<div class="related_prev">
						<a href="{{ $prev.Permalink }}" class="nav-link" title="{{ $prev.Title }}">
							<span class="yazirusi2">≪ prev</span>
							{{ $prev.Title }}
						</a>
					</div>
					{{$stop_flag = "true"}}
				{{end}}
			{{ end }}
			{{$prev = .}}
			{{ $series_index = add $series_index 1 }}
		{{ end }}
		{{ end }}
		{{if eq $last_flag true}}
		<div class="related_next">
			このページがシリーズ最新です
			<span class="yazirusi1">next ≫</span>
		</div>
		{{end}}
	</div>
	<ul>
	  <!-- シリーズ一覧を表示 -->
	  <span class="itiran">シリーズ一覧</span>
	  {{ range .Site.RegularPages.Reverse }}
		{{ if eq .Params.series $currentSeries }}
		  <li><a href="{{ .Permalink }}" class="nav-link" title="{{ .Title }}">{{ .Title }}</a></li>
		{{ end }}
	  {{ end }}
	</ul>
{{ end }}
</div>
